<blockquote class="blockquote">
  <div class="container">

    <div class="registre">
      <h1>Listes des evenements</h1>
    </div>
    <ul class="list-group list-group-flush"  *ngFor="let evenement of listeEvenement;">
      <li class="list-group-item list-group-item-action">

        <div class="row">
          <div class="col">
            <h2>Titre:  <h3>{{evenement.titre}}</h3></h2><br>
            <!-- <h2>Description:<h3> {{formation.description}}</h3></h2> -->
            <h2>Date debut evenement: </h2>
            <h3>  {{evenement.date_debut_evn}}</h3>
          </div>
          <div class="col">
       
            <h2>Date fin evenement:: </h2>
            <h3> {{evenement.date_fin_evn}}</h3><br>
            <h2>Lieu: </h2>
            <h3> {{evenement.emplacement}}</h3>
          </div>

          <div class="col">

            <h2>Description: </h2>
            <h3> {{evenement.description}}</h3><br>
            <h2>Photo </h2>
            <h3> {{evenement.photo}}</h3>

          </div>
        </div>
        <button (click)="deleteEvenement(evenement)">Supprimer</button>
        <button (click)="onSelect(evenement)"routerLink="/update-evenement/{{evenement.id}}">Update</button>

      </li>
    </ul>

    <br><br>
  </div>
</blockquote>