.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  

 
  
  .navbar li ul{
    display: none;
    height: auto;									
    margin: 0; 
    padding: 0; 
    }				
    .navbar li:hover ul{
    display: inline;
    }
 
 
  